/* header related style */
.header {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../images/Banner\ Image.png);
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    border-radius: 16px;
}


.banner-title {
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather';
    font-size: 72px;
    font-weight: 900;
}

.banner-welcome {
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather';
    font-size: 32px;
    font-weight: 400;
}

.off-content {
    color: #F00;
    text-align: center;
    font-family: 'Inter';
    font-size: 88px;
    font-weight: 700;
    margin-top: 120px;
}

.graph-content {
    color: #F00;
    text-align: center;
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 500;
}

.graph-title {
    color: #070211;
    text-align: center;
    font-family: 'Inter';
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.mid-text {
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../images/Vectorrr.png);
    width: 1320px;
    height: 600px;
    flex: 0;
    border-radius: 10px;

}

.party {
    color: #FFF;
    font-family: 'Merriweather';
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    /* 137.5% */
    letter-spacing: 7.04px;
}

.dolar {
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
    width: 697px;
    height: 60px;
}

.join {
    color: #FFF;
    text-align: center;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    width: 103px;
    height: 24px;
}

.place {
    color: #070211;
    font-family: 'Inter';
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    text-align: center;
}

.color-1 {
    color: #F00;
}

.New-text {
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    width: 1320px;
    height: 482px;
    flex-shrink: 0;
    border-radius: 10px;


}

.button {
    display: inline-flex;
    padding: 16px 32px;
    align-items: center;
    border-radius: 8px;
    background: #F00;
}

.button {
    color: #FFF;
    text-align: center;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.New-text {
    text-align: center;
}

.place {
    padding-top: 100px;
}

.banner-title {
    padding-top: 15px;
}

.banner-welcome {
    padding-top: 10px;
}

.welcome-line {
    padding-left: 100px;
    padding-top: 70px;
}

.year-pic {
    padding-left: 250px;
    margin-top: 20px;
    margin-bottom: 100px;
}

.new-lines {
    color: #070211;
    font-family: 'Merriweather';
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.new-line {
    color: #F00;
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 500;
}

.pera-grap {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
}

/* .full-line {
    padding-left: 20px;
} */

.photo {
    width: 364.844px;
    height: 364.844px;
}

.new-liner {
    color: #F00;
    font-family: 'Inter';
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* .right-side {
    text-align: right;
} */

.full-line {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Set a height for the container */

}

.round-image {
    border-radius: 50%;
    /* Makes the image round */
    width: 364.844px;
    height: 364.844px;
}

.middle-container {
    display: flex;
    justify-content: space-between;

.offer-container h3 {
    color: #F00;
    text-align: left;
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 500;

}

.pic-container {
    width: 364.844px;
    height: 364.844px;
    border-radius: 364.844px;
    background: rgb(255, 255, 255) -91.279px 0px / 150.038% 100% no-repeat;
    width: 463px;
    height: 463px;
    border-radius: 463px;
    border: 15px solid #F00;
    text-align: center;
    display: flex;
}

.photo-container h1 {
    color: #F00;
    font-family: 'Inter';
    font-size: 48px;
    font-weight: 700;
}

.photo-container p {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.second-pic {
    width: 140px;
    height: 140px;
    flex-shrink: 0;
}

.offer-container h1 {
    color: #070211;
    font-family: 'Merriweather';
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    text-align: left;
}

.offer-container p {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
}